		
@font-face { font-family: EKplain; src: url('../fonts/EKPLB.ttf'); } 
*{
	font-family: 'EKplain';
}

nav{
	position: relative;
	background-color : #65c18e;
	height: 92px;
	width: 100%;	
}

label.logo{
	color:white;
	font-size :35px;
	line-height: 80px;
	padding: 0 100px;
	font-weight: bold;
}

.img-header{
	float: left;
	position: relative;
	top: -25px;
	width: 100%;
}

nav .img-header img{
	float: left;
	position: relative;
	width: 100px;
}

.logo-head{
	float: left;
    position: relative;
    top: 35px;
    left: 0px;
}

.log-head-slogan{
	float: left;
    position: absolute;
    left: 221px;
    top: 40px;
    font-size: 20px;
}

nav ul {
	float: right;
	margin-right: 90px;
}

nav ul li{
	display: inline-block;
	line-height:80px;
	margin: 0 5px;
}

nav ul li a{
	color: white;
	font-size: 17px;
	padding: 7px 13px;
	border-radius: 3px;
	text-transform: uppercase;
}

nav a.active, nav a:hover{
	background: #65c18e;
	transition: .5s;
}

.dropdown-menu li{
	float: left;
	display: contents;
	height: auto;
}

.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}

#check{
	display: none;
}

.active{
	border-bottom: 1px solid white;
}
@media (min-width: 1200px) and (max-width: 1700px) {
	.logo-head{
		float: left;
	    position: relative;
	    top: 35px;
	    left: 0px;
	    font-size: 25px;
	}

	.log-head-slogan{
		float: left;
	    position: absolute;
	    left: 170px;
	    top: 40px;
	    font-size: 15px;
	}

	label.logo{
		color: white;
	    font-size: 35px;
	    line-height: 75px;
	    padding: 0px 20px;
	    font-weight: bold;
	}

	nav ul {
		float: right;
		margin-right: 20px;
	}

	nav ul li{
		display: inline-block;
		line-height:80px;
		margin: 0 2px;
	}

	nav ul li a{
		color: white;
		font-size: 14px;
		padding: 7px 10px;
		border-radius: 3px;
		text-transform: uppercase;
	}
}

@media (min-width: 952px) and (max-width: 1200px) {
	.logo-head{
		display: none;
		float: left;
	    position: relative;
	    top: 35px;
	    left: 0px;
	    font-size: 25px;
	}

	.log-head-slogan{
		display: none;
		float: left;
	    position: absolute;
	    left: 170px;
	    top: 40px;
	    font-size: 15px;
	}

	label.logo{
		color: white;
	    font-size: 25px;
	    line-height: 75px;
	    padding: 0px 10px;
	    font-weight: bold;
	}
	nav ul {
		float: right;
		margin-right: 0px;
	}

	nav ul li{
		display: inline-block;
		line-height:80px;
		margin: 0 0px;
	}

	nav ul li a{
		color: white;
		font-size: 14px;
		padding: 7px 10px;
		border-radius: 3px;
		text-transform: uppercase;
	}
}
@media (max-width: 952px) {
@media (min-width: 715px) and (max-width: 952px) {
	.active{
	    background: white;    
	    width: 100%;
	    position: relative;
	    left: -1%;
	}
	
	#myslide{
		height: 600px;
	}

	.active a{
		color:#65c18e;
	}
	.checkbtn{
		display: block;

	}

	.two-line{
		height: 48px;
	}
	.three-line{
		height: 120px;
	}
	.four-line{
		height: 160px;
	}

	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 90px;
		left: -110%;
		text-align: center;
		transition: all .5s;
		z-index: 999999;
	}

	nav ul li{
		display: block;
		margin: 20px 0;
		line-height: 30px;
	}

	nav ul li a{
		font-size: 15px;
	}

	a:hover, a.active{
		background: none;
		color: #0082e6;
	}

	.dropdown-menu-left ~ li{
		float: left;
		display: contents;
		height: auto
	}

	#check:checked ~ ul{
		left:0;

	}                  
/*}*/

/*@media (max-width : 952px){*/
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size: 16px;
	}
}

/*@media (max-width: 858px){
	.checkbtn{
		display: block;

	}

	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 90px;
		left: -100%;
		text-align: center;
		transition: all .5s;
		z-index: 999999;
	}

	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a{
		font-size: 20px;
	}

	a:hover, a.active{
		background: none;
		color: #0082e6;

	}
	.dropdown-menu-left ~ li{
		float: left;
		display: contents;
		height: auto
	}

	#check:checked ~ ul{
		left:0;

	}                  
}*/

@media (max-width : 715px){
	.logo-head{
/*		display: none;*/
		top: 45px;
		font-size: 20px;
	}

	.log-head-slogan{
/*		display: none;*/
		float: left;
	    position: absolute;
	    left: 140px;
	    top: 40px;
		font-size: 15px;
	}	

	.checkbtn{
		display: block;
		position: relative;
    	top: 10px;

	}

	label.logo{
		padding: 0 20px;
	}
	nav ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 90px;
		left: -100%;
		text-align: center;
		transition: all .5s;
		z-index: 999999;
	}

	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}

	nav ul li a{
		font-size: 20px;
	}

	a:hover, a.active{
		background: none;
		color: #0082e6;

	}
	.dropdown-menu-left ~ li{
		float: left;
		display: contents;
		height: auto
	}

	#check:checked ~ ul{
		left:0;

	}     

	.open>.dropdown-menu {
	    height: auto;
	    width: 100%;
	    left: -18px;
	    position: absolute;
	}             
}